# Python bytecode and cache
__pycache__/
*.py[cod]

# macOS system files
.DS_Store

# Virtual environments
myvenv/
venv/
.env/

# VSCode or JetBrains project settings (optional, if using)
.vscode/
.idea/

# Log files or data dumps (optional)
*.log
*.sqlite3
*.db

# Streamlit secrets
.streamlit/secrets.toml
